* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./assets/bg-mobile-dark.jpg) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  width: 720px;
  margin: auto;
}
#profile {
  margin: 56px auto 0px auto;
  padding: 24px;
  text-align: center;
}
#profile a {
  display: inline-block;
}
#profile img {
  width: 112px;
  border-radius: 50%;
  outline: 8px solid transparent;
}
#profile img:hover {
  outline: 8px solid rgb(255, 255, 255, 0.1);
  transition: 0.5s;
}
#profile p {
  font-weight: 500;
  margin-top: 8px;
  line-height: 24px;
}
#portals {
  padding: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
  justify-content: center;
  gap: 8px;
}
#portals li {
  width: calc(50% - 10px);
  border: 1px solid rgb(255, 255, 255, 0.5);
  background: rgb(255, 255, 255, 0.05);
  border-radius: 8px;
}
#portals li a {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  font-weight: 500;
  text-decoration: none;
}
#portals li:hover {
  border: 1.5px solid rgb(255, 255, 255, 1);
  background: rgb(255, 255, 255, 0.1);
  transition: 0.5s;
}
#social-links {
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
#social-links a:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  font-size: 12px;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 32px;
}
footer ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 24px;
}
footer ul li a:hover {
  font-weight: 500;
}
footer ul li a img {
  width: 66px;
  outline: 6px solid transparent;
  border-radius: 50%;
}
footer ul li a:hover img {
  outline: 6px solid rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
