* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile-dark.jpg);
  --outline-hover: rgb(255, 255, 255, 0.1);
  --border-color: rgb(255, 255, 255, 0.5);
  --li-bg-color: rgb(255, 255, 255, 0.05);
  --switch-bg-url: url(./assets/moon.svg);
  --column-list: column;
}
.homolog {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --outline-hover: rgb(0, 0, 0, 0.1);
  --border-color: rgb(0, 0, 0, 0.5);
  --li-bg-color: rgb(0, 0, 0, 0.05);
  --switch-bg-url: url(./assets/sun.svg);
  --column-list: column;
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
}
#profile {
  margin: 56px auto 0px auto;
  padding: 24px;
  text-align: center;
}
#profile a {
  display: inline-block;
}
#profile img {
  width: 112px;
  border-radius: 50%;
  outline: 8px solid transparent;
}
#profile img:hover {
  outline: 8px solid var(--outline-hover);
  transition: 0.5s;
}
#profile p {
  font-weight: 500;
  margin-top: 8px;
  line-height: 24px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background: white var(--switch-bg-url) no-repeat center;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  outline: 6px solid transparent;
  transition: all 0.2s;
  animation: slide-out 0.5s;
}
.homolog #switch button {
  animation: slide-in 0.5s forwards;
  left: 50%;
}
#switch button:hover {
  outline: 6px solid var(--outline-hover);
  transition: 0.5s;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border-color);
  background: var(--li-bg-color);
  border-radius: 9999px;
}
#portals {
  padding: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--column-list);
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#portals li {
  width: calc(50% - 10px);
  min-width: 260px;
  border: 1px solid var(--border-color);
  background: var(--li-bg-color);
  border-radius: 8px;
}
#portals li a {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  font-weight: 500;
  text-decoration: none;
}
#portals li:hover {
  border: 1.5px solid var(--text-color);
  background: var(--outline-hover);
  transition: 0.5s;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  font-size: 12px;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 32px;
}
footer ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 24px;
}
footer ul li a:hover {
  font-weight: 500;
}
footer ul li a img {
  width: 66px;
  outline: 6px solid transparent;
  border-radius: 50%;
}
footer ul li a:hover img {
  outline: 6px solid var(--outline-hover);
  transition: 0.5s;
}
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-dark.jpg);
    --column-list: 0;
  }
  .homolog {
    --bg-url: url(./assets/bg-light.jpg);
    --column-list: 0;
  }
}
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
